@page "/counter"
@inherits MyAppComponent
@using BlazorStandaloneLib

<h1>Counter</h1>

<p>Current count: @f.mdl.count</p>

<button @onclick(() => this.DispatchAsync(Msg.NewIncrement(3)))>Click me</button>
