@page "/counter"
@inherits MyComponent
@using BlazorStandaloneLib

<h1>Counter</h1>

<p>Current count: @f.mdl.count</p>

<button @onclick(() => this.Dispatch(Msg.Increment))>Click me</button>
