@page "/counter"
@inherits MyAppComponent
@using BlazorStandaloneLib

<h1>Counter</h1>

<p>Current count: @Mdl.Count</p>

<button @onclick(() => DispatchAsync(MyMsg.NewIncrement(3)))>Click me</button>
